body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #EEE;
}

h1 {
    color: darkslategrey; 
}

span {
    font-weight: 400; 
}

article {
    width: 400px; 
    border: 1px solid grey; 
    background-color: #FFF;
}
article img {
    float: left;
    width: 180px; 
    border: 1px solid blue; 
    margin: 10px; 
}

article .results {
    float: left;
    max-width: 180px;
    margin: 10px; 
    border: 1px solid green; 
}

article .review {
    clear: both; 
    border: 1px solid red;  
}

textarea {
    width: 90%;
    padding: 10px; 
    border: 1px solid grey; 
}

